# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
.DS_Store
ehthumbs.db
Thumbs.db
Icon?


# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

node_modules
npm-shrinkwrap.json
npm-debug.log

# --------------------------
# Other
# --------------------------

.idea
*.iml
/cache
