doctype html

head
	meta(charset="utf-8")
	title= title

body
	#mocha

	style
		!= styles

	script
		!= script

	script.
		mocha.setup('#{interface}');

	script
		!= tests

	if (reporter)
		script
			!= reporter
	else
		script.
			mocha.run();
